{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Asesoria</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>instalacion de red, cableado y verificacion de sistemas. </p>
        <p>Esto ayudara a una mejor comunicacion y mas facilidad de uso.</p>
            
        <br>
        <p><b>Teléfono:</b> 7221868605</p>
        <p><b>Honorarios:</b> $10,000 (todo completo)</p>
    </div>
</div>
{% endblock %}

